{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ committee.full_name }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static "home/style.css" %}" rel="stylesheet"/>
    </head>
    <body>
        {% include "./navBar.html" %}
        <h1>{{ committee.full_name }}</h1>
        <p>{{ committee.description }}</p>
        <h2>Officers</h2>
        <div class="tile">
            {% for officer in officers %}
            <article class="tile-item">
                <img alt="{{ officer.name }}" src="{{ officer.headshot.path }}"/>
                <h3>{{ officer.name }}</h2>
                <p class="officer-about">{{ officer.about }}</p>
            </article>
            {% endfor %}
        </div>
    </body>
</html>
