{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>BioMedical Engineering Society @ UCSD</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static "home/style.css" %}" rel="stylesheet" />

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- TODO Place favicon.ico in the root directory -->
        <!-- Also, the apple icon thing -->
    </head>
    <body>
        {% include "./navBar.html" %}
        <h1>BioMedical Engineering Society at UCSD</h1>
        <h2>Getting Involved</h2>
        <p>
            Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc, consequat! Amet, dictum sit
            amet justo donec enim diam, vulputate ut pharetra sit amet, aliquam id diam maecenas.
        </p>
        <p>
            Tortor aliquam nulla facilisi cras fermentum, odio eu feugiat pretium, nibh ipsum consequat nisl, vel pretium lectus
            quam id leo in. Sed libero enim, sed faucibus turpis in eu mi!
        </p>
        <p>
            Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Posuere morbi leo urna, molestie at elementum
            eu, facilisis sed odio morbi quis commodo odio aenean sed adipiscing diam donec.
        </p>
        <p>
            Arcu dui vivamus arcu felis, bibendum ut tristique et, egestas quis ipsum suspendisse ultrices gravida dictum fusce
            ut. Nisl, condimentum id venenatis a, condimentum vitae sapien pellentesque habitant morbi tristique?
        </p>
        <h3>Our Next GBM:</h3>
        <div id="gbm">
            Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor leo a diam sollicitudin tempor id eu
            nisl nunc mi ipsum? Tincidunt praesent semper feugiat nibh sed pulvinar?
        </div>
        <div id="major-event">
            <!-- This section is empty, unless within x days of a major event (MID, LabExp, BEDay) -->
        </div>
        <div id="upcoming">
            <h2>Upcoming Events</h2>
            <div class="tile-display">
                <!-- Upcoming events here -->
            </div>
        </div>


    </body>
</html>
