{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block name %}Under Construction{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static "home/style.css" %}" rel="stylesheet"/>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <div class="title">
            {% include "./navBar.html" %}
            <h1>
            {% block title %}
            ERROR
            {% endblock %}
            </h1>
        </div>

        <div class="about">
            {% block about %}
            <p>If you are seeing this, you have found a template page that has not been set up yet. You can contact someone about this if you want. Or not. Up to you.</p>
            {% endblock %}
        </div>

    </body>
</html>
