<div class="navbar">
    <a class="homePage" href="{% url 'home' %}">Home</a>
    <a href="{% url 'involvement' %}">Get Involved</a>
    <div class="dropdown">
        <button class="dropbtn">
            Our Events
        </button>
        <div class="dropdown-content">
            <a href="{% url 'mid' %}">Translational Medicine Day</a>
            <a href="{% url 'lexpo' %}">Lab Expo</a>
            <a href="{% url 'beday' %}">Bioengineering Day</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">
            Committees
        </button>
    </div>
</div>

