<div class="navbar">
    <a class="homePage" href="{% url 'home' %}">Home</a>
    <a href="{% url 'involvement' %}">Get Involved</a>
    <div class="dropdown">
        <button class="dropbtn">
            Our Events
        </button>
        <div class="dropdown-content">
            <a href="{% url 'events' 'mid' %}">Medical Innovation Day</a>
            <a href="{% url 'events' 'lexpo' %}">Lab Expo</a>
            <a href="{% url 'events' 'beday' %}">Bioengineering Day</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">
            Committees
        </button>
        <div class="dropdown-content">
            <a href="{% url 'committees' 'nsc' %}">New Student Committee</a>
            <a href="{% url 'committees' 'outreach' %}">Outreach Committee</a>
            <a href="{% url 'committees' 'project' %}">Project Team</a>
            <a href="{% url 'committees' 'wetlab' %}">Wetlab Team</a>
            <!-- FIXME: update name for wetlab committee -->
            <a href="{% url 'committees' 'midCom' %}">MID Planning Committee</a>
            <a href="{% url 'committees' 'lexpoCom' %}">Lab Expo Planning Committee</a>
            <a href="{% url 'committees' 'bedayCom' %}">BE-Day Planning Committee</a>
        </div>
    </div>
</div>

